@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  background-color: #F6F1EB;
  color: #000;

  font-family: 'Inter',  sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

  ::selection {
    background-color: rgba(224, 224, 224, 0.701);
    color: rgb(26, 26, 26);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.288);
  }


  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.2rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:   #EDF2F7;

  color: #17161a;

  min-width: 280px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0px;
}

p {
  margin: 0px;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 93.75%; 
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

